body{
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {
    /* max-width | min-width */
    h1 {
        color: blue;
        font-size: 30px;
    }
    
}

@media (max-width: 700px) {
    h2 {
    color: rgb(0, 236, 59);
     font-size:  50px;
    }
}

@media (orientation: landscape) {
    /* celular deitado */
    h3 {
        display: none;
        color: purple;
        font-size: 20px;
    }
}

@media(min-width: 400px) {
    h4{
color: tomato;
    }
}

@media  (min-width: 450px) and (max-width: 800px) {
    h5{
        color: rgb(236, 0, 236);
        
    }
}
   
@media  (min-width: 576px) and (max-width: 767px){
    h6{
        color: rgb(239, 255, 13);
        font-size: 20px;
    }
}